.venv
data.jsotry:
    import simplejson as json
except ImportError:
    import jsonn
**/__pycache__/*.pyc

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
